  
{% extends 'landing/base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="btn btn-dark">Back To Feed</a>
        </div>
    </div>
</div>
{% for post in title_list %}
    <div class= "row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-edit ">
          <div>
             <a href="{% url 'profile' post.author.userprofile.pk %}% "></a>
            <img class="rounded-circle post-img" height="50" width="50" src="{{ post.author.userprofile.picture.url }}" />
            <h3 class="title-font">{{ post.Title }}</h3>
            <p class="post-text"> 
              <a class="text=primary post-link" href="{% url 'profile' post.author.pk %}"> 
              @{{ post.author }}</a> <span class="dateandtime">{{ post.created_on }}</span> 
            </p>
          </div>  
          <div class = "position-relative" >
            {% if post.image %}
              <img src="{{ post.image.url }}" class="post-image" alt="">
            {% endif %}
            <a href="{% url 'post-detail' post.pk %}" class="stretched-link" ></a>
          </div>
          <div class="d-flex flex-row">
            <form method="POST" action="{% url 'like' post.pk %}">
               {% csrf_token %}
               <input type="hidden" name="next" value="{{ request.path }}">
               <button class="remove-default-btn" type="submit">
                  <i class="fas fa-thumbs-up"> <span> {{ post.likes.all.count }} </span></i>
               </button> 
            </form>
          </div>  
        </div>
    </div>
    {% endfor %}
    {% for profile in profile_list %}
        <div class="row justify-content-center mt-3">
            <div class="col-md-5 col-sm-12 border-bottom position-relative">
                <div>
                    <a href="{% url 'profile' profile.pk %}">
                        <img class="rounded-circle post-img" height="70" width="70" src="{{ profile.picture.url }}" />
                    </a>
                    <p class="post-text">
                        <a class="text-primary post-link" href="{% url 'profile' profile.pk %}">@{{ profile.user }}</a>
                    </p>
                </div>
                <p><a class="text-primary post-link" href="{% url 'profile' profile.pk %}">@{{ profile.user }}</a></p>
                <p>Followers: {{ profile.followers.all.count }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock content %}